<style>
</style>

<a class='menu-trigger'>
  <span>Menu</span>
</a>


<div class="nav">
</div>
<div class="nav nav2">
  <div class="info">
    <img class="x" src="https://png.icons8.com/xbox-x/ios7/1600"/>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Loan Application</li>
      <li>Loan Options</li>
      <li>Video Gallery</li>
      <li>Our Team</li>
      <li style="cursor: pointer;" onclick="window.location.href='/contact'">Contact Us</li>
    </ul>
  </div>
</div>