<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet"/>


<style>
  a.menu-trigger {
    cursor: pointer;
    display: block;
    position: fixed;
    width: 100px;
    height: 70px;
    text-indent: -9999em;
    right:30px;
    top: 30px;
    z-index: 9999999999999999;
    background: rgba(0,0,0,0.2);
    text-align: center !important;
    border-radius: .2em;
  }

  a.menu-trigger span,
  a.menu-trigger span:before,
  a.menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: white;
    display: block;
    position: absolute;
    width: 45px;
    height: 4px;
    left: 0;
    margin: 0 auto !important;
  }

  a.menu-trigger span:before,
  a.menu-trigger span:after {
    content: "";
  }

  a.menu-trigger span {
    top: 32px;
    left: 28px;
  }

  a.menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -16px;
    z-index: 10;
  }

  a.menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 16px;
  }

  a.menu-trigger.active span,
  a.menu-trigger.active span:before,
  a.menu-trigger.active span:after {
    background-color: transparent;
  }

  a.menu-trigger.active span:before {
    -moz-transform: translateY(8px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(8px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(8px) translateX(1px) rotate(45deg);
    transform: translateY(8px) translateX(1px) rotate(45deg);
    background-color: white;
  }

  a.menu-trigger.active span:after {
    -moz-transform: translateY(-8px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-8px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-8px) translateX(1px) rotate(-45deg);
    transform: translateY(-8px) translateX(1px) rotate(-45deg);
    background-color: white;
  }



  html,body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: 0;
    overflow: hidden;
  }

  .content {
    width: 600px;
    height: 400px;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow: hidden;
    text-align: center;

  }

    .content img {
      width: auto;
      height: 120px;
      display: block;
      margin: 0 auto;
      margin-top: 0px;
      transform: translateY(20px);
      opacity:0;
    }


    .content h1 {
      font-family: 'Cardo', serif;
      text-transform: uppercase;
      color: white;
      font-size: 50px;
      font-weight: 100; letter-spacing: 1px;

      width: 550px;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      padding-bottom: 5px;
      opacity: 0;
      padding-top: 5px;
      z-index: 9999999999;

      transform: translateY(30px);



    }


    .move-up {
      animation: move-up 500ms ease-in-out forwards 1 300ms;
    }

    .content button {
      width: 250px;
      height: 50px;
      border: none;
      color: white;
      opacity: 0;
      background: rgba(0,0,0,0.3);
      font-family:"Helvetica Neue",sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      border: 2px solid white;
      margin-top: 30px;
      cursor: pointer;
      transform: translateY(30px);

      box-shadow: 0 2px 5px 0 rgba(0,0,0,1);
      transition: all 400ms ease-in-out;
      animation-delay: 300ms;

    }

    .content button:hover {
      box-shadow: 5px 7px 7px 0 rgba(0,0,0,.26);
    }









  @media only screen and (max-width: 900px) {


  }


  @media only screen and (max-width: 800px){
    .content {
      width:  90% !important;
      overflow: hidden;
    }

    .content h1 {
      font-size: 20px;
      text-align: left;
      width: 100%;
      text-align: center;


    }

    a.menu-trigger {
      left: 30px !important;
    }

  }

  @media only screen and (max-width: 400px) {


  }

  @media only screen and (max-width: 350px) {

  }




    .second-panel {
      width: 100%;
      height: 100%;
      background: white;
      position: relative;
      overflow: hidden;
    }

    .right-curve {
      position: absolute;
      right: -20%;
      top: -150px;
      width: 60%;
      height: 150%;
      background: url(http://4.bp.blogspot.com/-DOtkaaLe6S4/U3d9BxqDI6I/AAAAAAAAH1w/H9-dYvBj_9o/s1600/Sweet-Home-Wallpapers-Wallpapers-Home-1.jpg) center center no-repeat;
      background-size: cover;
    }

  .panel {
    position: relative;

  }
  .stripe {
    width: 100%;
    background-color: rgb(51,51,51);
    height: 900px;
    position: absolute;
    right: -40% ;
    transform: skew(-15deg) rotate(-55deg);
    box-shadow: 1px 3px 30px rgba(0,0,0,0.4);
    overflow: hidden;
  }



  .panel.light .stripe {
  }

    .second-panel-content {
      position: absolute;
      width: 450px;
      margin-left: 100px;
      margin-top: 150px;
      text-align: left;
    }

    .second-panel-content h1 {
      font-family: "Open Sans",sans-serif;
      text-transform: uppercase;
      color: black;

    }

    .second-panel-content p {
      font-family: "Open Sans",sans-serif;
    }



  @media only screen and (max-width: 900px) {
    .stripe {
      width: 100%;
     left: 0;
      top: 200px !important;
      overflow: hidden;
      background-color: #985151;
      height: 300px !important;
      transform: skew(0deg) rotate(0deg);
      position: relative !important;
    }

    .mobile-change h1  {
      color: #4c7d15 !important;
    }

    .mobile-change p {
      color: black !important;
    }

    .second-panel {
      background: white !important;
      height: 400px !important;
    }

    .second-panel h1 {
      margin: 0 !important;
    }

    .panel2  {
      margin:  0 !important;
      display: block !important;
      text-align: center !important;
      width: 100% !important;
      left: 0 !important;

    }
    .panel2 {
      position: relative !important;
      text-align: left !important;
    }

    .panel2 h1 {
      text-align: center !important;
    }

    .stripe2 {
      display: none !important;
    }

    .panel2 button {
      display: block !important;
      margin: 0 auto !important;
      margin-top: 20px !important;
    }

    .stripe {
      display: none !important;
    }

    .stripe2 {
      position: relative !important;
      transform: skew(0deg) rotate(0deg) !important;
    }

    .stripe img {
      transform: skew(0deg) rotate(0deg) scale(1);
      height: 100px;
      width: 100px;
      display: none;
    }



    .second-panel-content {
      margin-left: 0px;
      margin-top: 0px;
      text-align: center;
      width: 100%;
    }

    .second-panel-content p {
      width: 400px;
      display: block;
      margin:0 auto;
    }

  }


  @media only screen and (max-width: 1000px){

    .quick-links {
      width: 100% !important;
      position: relative !important;
      left: 0 !important;
      margin-top: 20px !important;
      transform: translateY(50px) !important;
    }


    .footer{
      left: 10px !important;
    }
    .footer h1 {
      float: left !important;
    }




    .panels {
      position: relative !important;
      display: block !important;
      width: 100% !important;
      height: 500px !important;
      left: 0 !important;
      margin: 0 !important;
    }



    .footer-text {

      margin-top: 50px !important;
    }

    .footer-text h1 {
      font-size: 20px !important;
    }

    .left-footer-side{
      width: 100% !important;
      text-align: center !important;
    }

    .right-footer-side {
      margin-top: -50px !important;
    }



    .footer-text p {
      font-size: 12px !important;
      width: 250px !important;
    }

    .mobile-box {
      bottom: 50px !important;
    }

    .box h1 {
      margin-top: 60px !important;
    }

    .panels-container h1 {
      display: block;
      margin: 0 auto;
      width: 100% !important;
    }

    .panels-container {
      height: 100px !important;
      overflow: visible !important;
    }

      .panels-container {
        height: auto !important;
      }

      .both-footer {
        margin-top: 320px !important;
      }

      .footer2 {
        height: auto !important;
        margin-top: -100px !important;
      }

      .both-footer {
        position: relative !important;
      }
      .footer-text {
        position: relative !important;
      }

      .both-footer {
        margin-top: 120px !important;
      }

    .second-panel-content {
      height: auto !important;
    }

    .side1-mobile {

      transform: translateY(50px);
    }
    .side1 {
      position: relative !important;
      width: 100% !important;
    }


    .side1 h1, .side1 p , .side1 h2 {
      margin: 0 !important;
      margin-top: 0px !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      width: 400px !important;

    }


    .side1 h1 {
      font-size: 25px !important;
      width: 300px !important;
    }

    .side1 p {
      font-size: 12px !important;
      width: 300px !important;
    }


  }

  @media only screen and (max-width: 400px) {
    .second-panel-content {
      margin-left: 0px;
      margin-top: 10px;
      text-align: center;
      width: 100%;
    }

    .second-panel-content h1 {
      font-size: 20px;
    }

    .second-panel-content p {
      width: 300px;
    }

  }

  @media only screen and (max-width: 350px) {

  }

    .second-panel-content button {
      text-transform: uppercase;
      color: white;
      border: none;
      font-weight: bold;
      height: 50px;
      width: 250px;
      font-size: 11px;
      border-radius: .1em;
      margin-top: 30px;
      cursor: pointer;
      background: #4c7d15;
      font-family:"Helvetica Neue",sans-serif;
      letter-spacing: 1px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      transition: all 400ms ease-in-out;
    }

    .stripe2 {
      left: -40%;
      transform: skew(15deg) rotate(55deg);
    }

    .stripe2 img {
      transform: skew(-15deg) rotate(-55deg) scale(1.4);

    }

    .panel2 {
      position: absolute;
      right: 70px;
      width: 450px;
      margin-left: 100px;
      margin-top: 150px;
      text-align: right;
    }




    .second-panel {
    }

    .panels {
      width: 25%;
      height: 102%;
      background: red;
      display:inline-block;
      margin: -2px;
      padding: 0;
      position: relative;
      text-align: center;
    }

    .box {
      position: absolute;
      bottom: 100px;
      width: 80%;
      height: 200px;
      background: white;
      display: block;
      margin:  0 auto;
      left: 0;
      right: 0;
      box-shadow: 0 2px 5px 1px rgba(5, 5, 5, 0.4);

    }

    .box button {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      background: #4c7d15;
      left: 0;
      border: none;
      color: white;
      text-transform: uppercase;
      font-size: 15px;
      cursor: pointer;
    }


    .box h1 {
      font-family: "Helvetica Neue", sans-serif;
      text-transform: uppercase;
      color: black;
      font-weight: 500;
      font-size: 20px;
      margin-top: 50px;
    }

    .loan-options {
      color: white;
      background: rgba(0,0,0,0.2);
      position: absolute;
      top: 0;
      left: 0;
      font-size: 60px;
    }

    .panel-message {
      position: absolute;
      top: 100px;
      left:0;
      width: 100%;
      height: 40px;
      z-index: 99;

      text-align: center;
      font-family: "Helvetica Neue",sans-serif;
    }

    .panel-message h1 {
      background: white;
      color: black;
      width: 500px;
      box-shadow: 0 2px 5px 1px rgba(5, 5, 5, 0.4);
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
      padding-top: 20px;
      border-radius: .1em;
    }






  .footer2 {
    width: 100%;
    height: 100%;
    background: url(../green-bg.png);
    position: relative;
    text-align: center;
  }

    .footer2-text h1 {
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      color: white;
      text-transform: uppercase;
    }

    .footer2-text p {
      color: white;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      width: 500px;
      display: block;
      margin: 0 auto;
      line-height: 25px;
    }


    .contact-left-side {
      float: left;
      text-align: left;
      margin-left:50px ;

    }

    .contact-right-side input {
      display: block;
      width: 200px;
      background: none;
      border: 1px solid white;
      height: 50px;
      border-radius: .2em;
    }

  .contact-right-side textarea {
      height: 300px !important;
  }

  ::-webkit-input-placeholder {
      color: white;
    }

    .contact-right-side{
      text-align: left;

    }

    .contact-right-side button {
      color: white;
      background: rgb(40,40,100);
      border: none;
      width: 150px;
      height: 60px;
    }


    .both-footer {
      position: absolute;
      margin-top: 250px;
      width: 100%;
    }

    .left-footer-side {
      width: 300px;
      height: auto;
      display: inline-block;
      margin: 0 auto;
      transform: translateY(-100px);
      text-align: left;
      color: white;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    }

    .left-footer-side h1 {

    }

    .right-footer-side {
      width: 300px;
      height: auto;
      display: inline-block;
      text-align: left;

    }

    .footer-text h1 {
      margin-top: 20px !important;
    }

    .right-footer-side button {
      width: 150px;
      height: 40px;
      background: #4c7d15;
      color: white;
      margin-top: 10px;
      border-radius: .2em;
      font-weight: bold;
      border: none;
      text-transform: uppercase;
      margin-bottom: 40px;
    }



    .footer-text {
      position: absolute;
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }

    .footer-text h1 {
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      color: white;
      margin-top: 100px;
    }

    .footer-text p {
      width: 450px;
      color: white;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      display: block;
      margin:0 auto;
      line-height: 25px;

    }

    .both-footer {
    }

    .right-footer-side input, textarea {
      width: 100%;
      height: 40px;
      background: none;
      border-radius: .2em;
      margin-top: 10px;
      border:none;
      background: rgba(255,255,255,0.5);

      padding-left: 10px;
      font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    }

    textarea {
      height: 100px !important;
    }

    .nav-logo {
      position: fixed;
      top: 20px;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
      width:auto;
      height: 90px;
      z-index: 9999999999999999999999;
      opacity: 0;
      transition: all 300ms ease-in-out;
    }

    .rotate {
      position: absolute;
      top:-150px;
      left:-200px;
      width: 200%;
      height: 200px;
      background: darkolivegreen;
      transform: rotate(-20deg);
      z-index: 0;
    }

    .bg-img {
      position: absolute;
      top:-10%;
      left:0;
      margin: 0;
      padding: 0;
      min-width: 100%;
      width: auto;
      height: 135%;
    }
    .bg-animation {
      animation: zoom 15s linear forwards 1;
    }
    .bg {
      overflow: hidden;
      position: relative;
    }

    @keyframes zoom {
      0%{
        transform: scale(1.3);
      }
      5%{
        transform: scale(1.2)
      }
      100%{
        transform: scale(1);
      }
    }


    .gradient {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at center, rgba(0,0,0,0.4) 0, rgba(0,0,0,1))

    }

    @keyframes move-up {
      0%{
        transform: translateY(30px);
        opacity: 0;
      }
      100%{
        transform: translateY(0px);
        opacity: 1;

      }
    }


    #curtain {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

    }

    .no-stripe {
      text-align:center !important;
    }


    #background {
      background-image: radial-gradient(ellipse farthest-corner at center top, #23233f 0%, #000000 60%);
    }


    .no-stripe {
      background:white;
      text-align:center;
      left: 0;right: 0;
      display: block;
      margin:0;
      width: 500px;
      height: 300px;
      display: block;
      margin:0 auto;
      margin-top: 190px;
      box-shadow: 0 2px 5px 1px rgba(5, 5, 5, 0.4);




    }

    .no-stripe h1 {
      margin-top: 35px;
    }

    .loader {
      position: fixed;
      top:0;
      left:0;
      width: 100%;
    height: 100%;
      background:black;
      z-index: 9999999999999999999999999999999;
      pointer-events: none;
    }



  /* Animation */
  @-webkit-keyframes loading {
    to { -webkit-transform: rotate(360deg); }
  }
  @-moz-keyframes loading {
    to { -moz-transform: rotate(360deg); }
  }
  @-ms-keyframes loading {
    to { -ms-transform: rotate(360deg); }
  }
  @keyframes loading {
    to { transform: rotate(360deg); }
  }

  /* Loader (*/
  #loading {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;

    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #777;
    border-left: 4px solid #777;

    -webkit-animation: loading 1.2s infinite linear;
    -moz-animation: loading 1.2s infinite linear;
    -ms-animation: loading 1.2s infinite linear;
    animation: loading 1.2s infinite linear;

  }

  /* Just page styling */
  body{
    background: url('https://codepen.io/images/classy_fabric.png') #333;
  }
  #loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
  }

    .loader {
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background:rgb(41,41,41);
      z-index: 9999999999;
      transition: all 500ms ease-in-out;
    }

    .left-logo {
      position: absolute;
      top:40px;
      left: 50px;
      z-index: 99999999999;
      width: auto;
      height: 70px;

    }



</style>

<div class="loader">
  <div id="loading"></div>
</div>

<img class="left-logo" src="../vanmar.png"/>


<img class="nav-logo" src="../vanmar.png"/>

<div class="bg">
  <img class="bg-img" src="https://storage.googleapis.com/idx-acnt-gs.ihouseprd.com/AR465184/file_manager/buyer%20couple%20with%20keys.jpg"/>
  <div class="gradient"></div>
  <div class="content">
    <h1 style="z-index: 999999999 !important;">The monster of mortgage</h1>
    <button>Let's get started</button>
  </div>

  <%= render 'partials/nav' %>
</div>

<div style="background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(https://www.bestcatcher.com/wp-content/uploads/2016/07/Proven_Ways_to_be_Happy.jpg) center center no-repeat;  background-size:cover; background-position: -200px 0 !important;" class="second-panel first-panel">
  <div class="second-panel-content">
    <h1>First-Time Homeowner?</h1>
    <p>If you are a first time homeowner you may be eligible for discounts on your rate, closing costs and PMI. Our staff can assist you in calculating your discounts </p>
    <button>create an affordable plan</button>
  </div>

  <div class="panel light">
    <div id="background" class="stripe ">
    </div>
  </div>
</div>


<div  style=" background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(https://i.pinimg.com/originals/96/78/5a/96785a4f7affaadeeeda0ac6adc43eff.jpg) center center no-repeat; background-size:cover; " class="second-panel">
  <div class="second-panel-content panel2 mobile-change no-stripe">
    <h1 style="color:black; width: 100%; font-size: 30px;">Understand Your Rights</h1>
    <p style="color: black">Becoming a homeowner can mean a whole new set of rules. Understand your rights throughout the entire loan application process. You'll benefit greatly.</p>
    <button>Contact Us With Your Questions</button>
  </div>
</div>


<div style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://assets1.archetypes.com/wp-content/uploads/2015/10/shutterstock_33116836-e1446571988932.jpg) center center no-repeat; background-size: cover;" class="second-panel">
  <div class="second-panel-content mobile-change no-stripe">
    <h1 style="margin-top: 35px; font-size: 28px;">Down Payment Insurance</h1>
    <p style="margin-left: 15px;margin-right: 15px;">Depending on the type of loan you are applying for, it could mean a down payment of up to 20%. Ask our staff today about our down payment assistance program.</p>
    <button>Apply for your loan today</button>
  </div>
</div>


<div style="   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://cdn-media-1.lifehack.org/wp-content/files/2015/06/Geniuenly-Happy-People.jpg) center center no-repeat; background-size: cover;" class="second-panel ">
  <div class="second-panel-content panel2 no-stripe">
    <h1>15+ Years Experience</h1>
    <p>Becoming a homeowner can mean a whole new set of rules. Understand your rights throughout the entire loan application process. You'll benefit greatly.</p>
    <button>create an affordable plan</button>
  </div>
</div>

<div  class="second-panel panels-container">
  <div class="panel-message">
    <h1 style="letter-spacing: 1px">Get Peace Of Mind With <br/> <span style="font-weight: 300 !important;"> Exceptional Loan Options </span></h1>
  </div>


  <div style="  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(http://www.financenewspro.com/wp-content/uploads/2016/05/small-business.jpg) center center no-repeat; background-size: cover;" class="panels">
    <div class="box mobile-box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
  <div style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(http://ak9.picdn.net/shutterstock/videos/3773279/thumb/10.jpg) center center no-repeat; background-size: cover;" class="panels">
    <div class="box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
  <div style=" background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/GCDU2hc/business-people-meeting-and-talking-hd-movie-1920x1080_htaxaei__F0000.png) center center no-repeat; background-size: cover;" class="panels">
    <div class="box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
  <div style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(http://footage.framepool.com/shotimg/qf/706817154-lecturing-ok-turning-round-full-body.jpg) center center no-repeat; background-size: cover;" class="panels">
    <div class="box">
      <h1>Down Payment Assistance</h1>
      <button>Apply Today</button>
    </div>
  </div>
</div>

<div style=" background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://blog-cdn.static-homes.com/wp-content/uploads/sites/2/2016/07/Buying-a-Rental-Property2.jpg) center center no-repeat; background-size:cover;"  class="footer2">

  <div style="margin-top: 50px;" class="footer-text">
    <h1>Get Peace Of Mind With <br/> Exceptional Loan Options</h1>

    <p>Becoming a homeowner can be exciting and stressful at the same time.
      Take advantage of industry knowledge that will put your fears to rest.
      Iur team will find solutions tonyour lending needs no matter how unique your situation is.
    </p>
  </div>


  <div style="margin-top: 310px;" class="both-footer">
    <div class="left-footer-side">
      <h3>Contact Us</h3>
      <p>39249 Leopard St. Ste A <br/> Palm Desert, CA 92211</p>
      <p>Phone: 760-200-4620</p>
      <p>Fax: 760-200-0046</p>
    </div>
    <div class="right-footer-side">
      <form>
        <input type="text" placeholder="Name"/>
        <input type="text" placeholder="Email"/>
        <input type="text" placeholder="Phone"/>
        <textarea type="text" placeholder="Comment"></textarea>
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>

<%= render 'partials/footer' %>

<script>


  $(window).on("load", function(){
     $(".loader").css({
         opacity: 0
     });

     $(".content img").addClass("move-up");

     setTimeout(function () {
         $(".content h1").addClass("move-up")

     },190);

      setTimeout(function () {
          $(".content button").addClass("move-up")
      },570);

     $(".bg-img").addClass("bg-animation")
  });
  $(".menu-trigger").click(function () {
      $(".nav3").css({
          width: "300px",
          opacity: "1"
      });

      $(".menu-trigger").css({
          opacity: "0"
      })
  });

  $(".x").click(function () {
      $(".nav3").css({
          width: "0px",
          opacity: "0"
      });
      $(".menu-trigger").css({
          opacity: "1"
      })
  });

  $(window).on("load", function () {

     $(window).on("scroll", function() {
          if($(document).scrollTop() > 10){
            $(".nav-logo").css({
                opacity: "1"
            })
          } else {
              $(".nav-logo").css({
                  opacity: "0"
              })
          }
      });

  });


  var vertexHeight = 15000;
  var planeDefinition = 100;
  var planeSize = 1245000;
  var totalObjects = 100000;

  var container = document.createElement('div');
  document.getElementById("background").appendChild( container );

  var camera = new THREE.PerspectiveCamera(55, window.innerWidth / window.innerHeight,1, 400000)
  camera.position.z = 550000;
  camera.position.y =10000;
  camera.lookAt( new THREE.Vector3(0,6000,0) );


  var scene = new THREE.Scene();
  scene.fog = new THREE.Fog( 0x000000, 1, 300000 );


  var	plane = new THREE.Mesh( new THREE.PlaneGeometry( planeSize, planeSize, planeDefinition, planeDefinition ), new THREE.MeshBasicMaterial( { color: 0x555555, wireframe: false } ) );
  plane.rotation.x -=Math.PI*.5;

  scene.add( plane );

  var geometry = new THREE.Geometry();

  for (i = 0; i < totalObjects; i ++)
  {
      var vertex = new THREE.Vector3();
      vertex.x = Math.random()*planeSize-(planeSize*.5);
      vertex.y = Math.random()*100000;
      vertex.z = Math.random()*planeSize-(planeSize*.5);
      geometry.vertices.push( vertex );
  }

  var material = new THREE.ParticleBasicMaterial( { size: 200 });
  var particles = new THREE.ParticleSystem( geometry, material );

  scene.add( particles );

  var renderer = new THREE.WebGLRenderer({alpha:true});
  renderer.setSize(window.innerWidth, window.innerHeight);
  container.appendChild( renderer.domElement );

  updatePlane();

  function updatePlane() {
      for (var i = 0; i < plane.geometry.vertices.length; i++)
      {
          plane.geometry.vertices[i].z += Math.random()*vertexHeight -vertexHeight;
      }
  };


  render();

  function render() {
      requestAnimationFrame( render );
      camera.position.z -= 150;
      //  dateVerts();
      renderer.render( scene, camera );
  }








</script>

